*.pyc
global_out/*.dat
*.pdb
*.sw[op]
Minimizer/minimizer/run_mini/output.dat
Minimizer/minimizer/run_builder/output.dat
Minimizer/minimizer/run_builder/global.dat
Minimizer/minimizer/run_builder/proteins.dat
Minimizer/minimizer/run_builder/rctrPDB.sh
Minimizer/minimizer/run_mini/proteins.dat
Minimizer/minimizer/run_mini/runMini.sh
Minimizer/minimizer/run_mini/temp_global.dat
